<!-- Form Builder -->
<form [formGroup]="form" (ngSubmit)="save()">
    <div>
        <p>
            Nombre :
            <input [class.is-valid]="nameFieldValid" [class.is-invalid]="nameFieldInvalid" formControlName="name"
                type="text">

        </p>
        <div class="messages" [class.active]="nameField.touched && nameField.invalid">
            <p>
                <strong *ngIf="nameField.hasError('required') ">Este campo es
                    requerido</strong>
            </p>
            <p>
                <strong *ngIf="nameField.hasError('maxlength') ">El campo debe tener
                    maximo 10
                    caracteres</strong>
            </p>
            <p>
                <strong *ngIf="nameField.hasError('pattern')">No se aceptan simbolos o numeros</strong>
            </p>
        </div>
    </div>
    <div>
        <p>
            Email :
            <input type="email" formControlName="email">
        </p>
        <div class="messages" [class.active]="emailField.touched && emailField.invalid">
            <p>
                <strong *ngIf="emailField.hasError('required')">Este campo es
                    requerido</strong>
            </p>
            <p>
                <strong *ngIf="emailField.hasError('email')">Esto no es un email valido</strong>
            </p>

        </div>
    </div>
    <div>
        <p>
            Tell :
            <input type="tel" formControlName="tel">
        </p>
    </div>

    <div>
        <p>
            Color :
            <input type="color" formControlName="color">
        </p>
    </div>
    <div>
        <p>
            Date :
            <input type="date" formControlName="date">
        </p>
    </div>



    <div>
        <p>
            Age :
            <input type="number" formControlName="age">

        </p>
        <div class="messages" [class.active]="ageField.touched && ageField.invalid">
            <p>
                <strong *ngIf="ageField.hasError('required')">Este campo es
                    requerido</strong>
            </p>
            <p>
                <strong *ngIf="ageField.hasError('min') ">Debe ser mayor de edad</strong>
            </p>
            <p>
                <strong *ngIf="ageField.hasError('max') ">Debe ser menor de 100 años</strong>
            </p>

        </div>
    </div>







    <button type="submit">Send data</button>
</form>